# .gitignore for Msaidizi Mkononi Project

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Rasa artifacts
.rasa/
# models/  <-- COMMENTED OUT TO ALLOW UPLOAD
graph.html

# Flutter & Build artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
android/app/build/
android/.gradle/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# *.txt  <-- COMMENTED OUT TO ALLOW requirements.txt
build_log_*.txt
init_log.txt

# Databases (we will create them on the server or use migrations)
*.db
*.sqlite

# Binaries/Executables
*.exe
*.bat
*.ps1
*.cmd
ffmpeg
ffplay
ffprobe
