# Core Services
rasa==3.6.20
rasa-sdk==3.6.2
flask<3.0.0
gunicorn

# Connectors & Tools
africastalking
requests
pandas
python-dotenv
flask-cors
flask-jwt-extended
aiofiles
python-multipart
structlog
flask-limiter
SQLAlchemy<2.0.0
marshmallow
tenacity
pyyaml
aiogram<3.0.0
pydub
SpeechRecognition

# Fix for Rasa 3.x conflicts

